// 响应式断点
$--step-res-breakpoint: 768px !default;

$--step-padding-horizontal: 6px !default;
$--step-padding-vertical: 6px !default;

$--step-main-margin-horizontal: 8px !default;
$--step-main-margin-vertical: 8px !default;

// line
$--step-line-color: #989898 !default;
$--step-line-size: 2px !default;

// head
$--step-head-size: 26px !default;
$--step-head-font-size: 14px !default;
$--step-head-color: #fff !default;
$--step-head-bg-color: #8682f9 !default;

// title
$--step-title-font-size: 16px !default;

// desc
$--step-desc-font-size: 12px !default;
$--step-desc-line-height: 18px !default;
