$--step-line-color: #989898 !default;
$--step-line-size: 2px !default;
$--step-padding-horizontal: 6px !default;
$--step-padding-vertical: 6px !default;
$--step-head-size: 26px !default;
$--step-main-margin-horizontal: 8px !default;
$--step-main-margin-vertical: 12px !default;
